/*
TODO:
When flash.less is fixed these two can be removed.
Waiting for jaclyne feedback

./branding/flash.less:90:      background-color:@red;
./branding/flash.less:96:      background-color:@red-secondary;
*/
/* TODO: The colors below should be removed */
.modal {
  background: transparent;
  background: rgba(0, 0, 0, 0.8);
  bottom: 0;
  height: 100%;
  left: 0;
  opacity: 0;
  pointer-events: none;
  position: absolute;
  right: 0;
  top: 0;
  -moz-transition: opacity 0.5s ease-in;
  -o-transition: opacity 0.5s ease-in;
  -webkit-transition: opacity 0.5s ease-in;
  transition: opacity 0.5s ease-in;
  z-index: 2000;
}
.ie8 .modal,
.ie7 .modal {
  filter: progid:DXImageTransform.Microsoft.Gradient(GradientType=1, StartColorStr='#CC000000', EndColorStr='#CC000000');
  zoom: 1;
}
.modal.active {
  pointer-events: auto;
  opacity: 1;
}
.modal.active .modal-container {
  -moz-transform: scale(1);
  -o-transform: scale(1);
  -webkit-transform: scale(1);
  transform: scale(1);
}
.modal input {
  height: 28px;
  width: 317px;
}
.modal.screenblockingdialog {
  z-index: 2001;
}
.modal.screenblockingdialog .modal-container {
  width: 650px;
  -moz-transition: all 0s ease-in-out;
  -webkit-transition: all 0s ease-in-out;
  transition: all 0s ease-in-out;
}
.modal.screenblockingdialog .modal-container .screenblockingsubheader {
  color: #808080;
  font-size: 18px;
}
.modal.screenblockingdialog .modal-container .modal-content .body {
  padding: 20px 23px;
}
.modal-container:after {
  border: 10px solid #000000;
  border-radius: 8px;
  bottom: -10px;
  content: "";
  left: -10px;
  opacity: .4;
  position: absolute;
  right: -10px;
  top: -10px;
  z-index: -1;
}
.modal-container.small-device:after {
  border: 20px solid #000000;
  opacity: 1;
}
.modal-container.small-device .small-device-go-back-button {
  color: #262626;
  display: inline-block;
  font-size: 48px;
  line-height: 1;
  margin: 57px 10% 22px;
  text-align: center;
  width: 80%;
}
.modal-container {
  background: #fafafa;
  border: 1px solid #686868;
  left: 50%;
  margin-left: -300px;
  margin-top: -240px;
  position: absolute;
  top: 50%;
  -moz-transform: scale(0.1);
  -o-transform: scale(0.1);
  -webkit-transform: scale(0.1);
  transform: scale(0.1);
  width: 600px;
  z-index: 102;
  -moz-box-shadow: rgba(0, 0, 0, 0.33) 0 0.125em 1em;
  -webkit-box-shadow: rgba(0, 0, 0, 0.33) 0 0.125em 1em;
  box-shadow: rgba(0, 0, 0, 0.33) 0 0.125em 1em;
  -moz-transition: all 0.5s ease-in-out;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}
.modal-header {
  color: #ffffff;
  background: repeat scroll 0 0 #53b688;
  border-bottom: 1px solid #dee4ed;
  height: 222px;
  padding: 25px 20px;
}
.grey .modal-header {
  background: #ebebeb;
}
.modal-header.no-icon {
  height: auto;
  text-align: center;
}
.modal-header.no-icon .modal-title {
  padding-top: 0px;
}
.grey .modal-header.no-icon .modal-title {
  color: #333333;
  font-weight: 400;
  margin-left: 15px;
  text-align: left;
}
.modal-header-inner {
  margin: auto;
  text-align: center;
}
.grey .modal-header-inner {
  margin: 0;
}
.modal-title {
  display: block;
  font-family: Source Sans Pro, Helvetica Neue, sans-serif;
  font-size: 28px;
  line-height: 25px;
  padding-top: 28px;
}
.modal-subtitle {
  font-size: 16px;
  padding-top: 5px;
}
.modal-container.small-screen .modal-title {
  font-size: 32px;
}
.modal-icon {
  display: block;
  height: 60px;
  margin: auto;
  padding-top: 45px;
  width: 60px;
}
.modal-close {
  background: url(/img/sprite-green-X.png) no-repeat scroll 0 0 transparent;
  cursor: pointer;
  display: block;
  float: right;
  height: 12px;
  position: absolute;
  right: 15px;
  top: 20px;
  width: 12px;
}
.grey .modal-close {
  background: url(/img/sprite-grey-X.png) no-repeat scroll 0 0 transparent;
}
.modal-close:hover {
  background-position: -12px 0px;
}
.modal-content .body {
  padding: 20px 35px;
}
.modal-content .body p {
  margin: 10px 0;
}
.modal-content .body p.center {
  text-align: center;
}
.modal-content .body table td,
.modal-content .body table td label {
  color: #262626;
}
.modal-container.small-screen .modal-content {
  font-size: 22px;
  line-height: 30px;
}
.modal-container.small-screen .modal-content .body {
  padding: 40px 49px;
}
.modal-footer {
  border-top: 1px solid #dee4ed;
  height: 32px;
  margin-left: 35px;
  margin-right: 35px;
  padding: 35px 0px;
}
.grey .modal-footer {
  background: #ebebeb;
  border-top: none;
  margin: 0;
  padding: 21px 35px;
}
.drawing-modal .modal-footer {
  padding: 21px 45px;
}
.modal-footer .button {
  margin-top: -11px;
}
.modal-footer .left {
  float: left;
}
.modal-footer .right {
  float: right;
}
.modal-footer label {
  cursor: pointer;
  line-height: 32px;
}
.modal-footer label.close {
  color: #262626;
}
.modal-container.small-screen .modal-footer label {
  font-size: 22px;
}
.button {
  background-color: #323b45;
  color: #ffffff !important;
  cursor: pointer;
  display: inline-block;
  *display: inline;
  font-family: Source Sans Pro, Helvetica Neue, sans-serif;
  font-size: 15px;
  font-weight: 400;
  line-height: 16px;
  margin: 0;
  max-height: 16px;
  min-width: 50px;
  padding: 13px 20px;
  position: relative;
  text-align: center;
  text-decoration: none;
  -webkit-transform: translateZ(0);
  -webkit-user-select: none;
  user-select: none;
  zoom: 1;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  -moz-border-radius-bottomleft: 1px;
  -moz-border-radius-bottomright: 1px;
  -moz-border-radius-topleft: 1px;
  -moz-border-radius-topright: 1px;
  -webkit-border-bottom-right-radius: 1px;
  -webkit-border-bottom-left-radius: 1px;
  -webkit-border-top-left-radius: 1px;
  -webkit-border-top-right-radius: 1px;
  border-bottom-left-radius: 1px;
  border-bottom-right-radius: 1px;
  border-top-left-radius: 1px;
  border-top-right-radius: 1px;
  -moz-transition: all 0.15s ease-in-out;
  -webkit-transition: all 0.15s ease-in-out;
  transition: all 0.15s ease-in-out;
}
.button:hover {
  background-color: #1f2c36;
  -moz-transition: all 0 ease-in-out;
  -webkit-transition: all 0 ease-in-out;
  transition: all 0 ease-in-out;
}
.button:active,
.button.active {
  background-color: #323b45;
}
.button.button-small {
  font-size: 13px;
  line-height: 14px;
  max-height: 14px;
  min-width: 35px;
  padding: 8px 12px;
}
.button.button-large {
  font-size: 18px;
  line-height: 18px;
  max-height: 18px;
  padding: 17px 25px 17px;
}
.small-screen .button.button-large {
  font-size: 42px;
  line-height: 60px;
  max-height: 80px;
  padding-bottom: 25px;
}
.button.button-round {
  border: #f7f7f7 4px solid;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  -moz-border-radius-bottomleft: 25px;
  -moz-border-radius-bottomright: 25px;
  -moz-border-radius-topleft: 25px;
  -moz-border-radius-topright: 25px;
  -webkit-border-bottom-right-radius: 25px;
  -webkit-border-bottom-left-radius: 25px;
  -webkit-border-top-left-radius: 25px;
  -webkit-border-top-right-radius: 25px;
  border-bottom-left-radius: 25px;
  border-bottom-right-radius: 25px;
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
}
.button.button-round.button-small {
  border-width: 3px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  -moz-border-radius-bottomleft: 16px;
  -moz-border-radius-bottomright: 16px;
  -moz-border-radius-topleft: 16px;
  -moz-border-radius-topright: 16px;
  -webkit-border-bottom-right-radius: 16px;
  -webkit-border-bottom-left-radius: 16px;
  -webkit-border-top-left-radius: 16px;
  -webkit-border-top-right-radius: 16px;
  border-bottom-left-radius: 16px;
  border-bottom-right-radius: 16px;
  border-top-left-radius: 16px;
  border-top-right-radius: 16px;
}
.button.button-round.button-round.button-large {
  border: #eeeeee 5px solid;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  -moz-border-radius-bottomleft: 32px;
  -moz-border-radius-bottomright: 32px;
  -moz-border-radius-topleft: 32px;
  -moz-border-radius-topright: 32px;
  -webkit-border-bottom-right-radius: 32px;
  -webkit-border-bottom-left-radius: 32px;
  -webkit-border-top-left-radius: 32px;
  -webkit-border-top-right-radius: 32px;
  border-bottom-left-radius: 32px;
  border-bottom-right-radius: 32px;
  border-top-left-radius: 32px;
  border-top-right-radius: 32px;
}
.button.button-round.button-round.button-large.black {
  border: none;
}
.button.button-round.red,
.button.button-round.black {
  border-color: #e2e2e2;
}
.button.button-round.green {
  border-color: #e1e1e1;
}
.button.button-round.green .greybg {
  border-color: #d4d4d4;
}
.button.button-round .spinner-container {
  left: -20px;
  position: absolute;
  top: 23px;
}
.button-green {
  background-color: #53b688;
}
.button-green:hover {
  background-color: #49a979;
}
.button-green:active {
  background-color: #53b688;
}
.button-green.is-waiting {
  cursor: wait;
  background-color: #49a979;
}
.button-green.is-waiting:hover {
  background-color: #49a979;
}
.button-green.is-waiting:active {
  background-color: #49a979;
}
.button-green.is-inactive {
  border-color: transparent !important;
  color: #999999 !important;
  cursor: default;
  background-color: #eaeaea;
}
.button-green.is-inactive:hover {
  background-color: #eaeaea;
}
.button-green.is-inactive:active {
  background-color: #eaeaea;
}
.button-gray {
  background-color: #e6e6e6;
  color: #262626 !important;
}
.button-gray:hover {
  background-color: #d9d9d9;
}
.button-gray:active {
  background-color: #e6e6e6;
}
.button-signview-blue {
  background-color: #33b1dd;
}
.button-signview-blue:hover {
  background-color: #299ecc;
}
.button-signview-blue:active {
  background-color: #33b1dd;
}
.button-light-blue {
  background-color: #0768a9;
}
.button-light-blue:hover {
  background-color: #021d2f;
}
.button-light-blue:active {
  background-color: #0768a9;
}
.button-light-blue.button-small {
  font-weight: 400;
}
.button-red {
  background-color: #c43333;
}
.button-red:hover {
  background-color: #af2b2b;
}
.button-red:active {
  background-color: #c43333;
}
input[type=submit].button.button-large,
button.button.button-large {
  line-height: 24px\9;
  padding: 12px 30px 13px\9;
}
input[type="submit"]::-moz-focus-inner {
  border: 0;
}
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  border: 0;
  margin: 0;
  outline: 0;
  padding: 0;
}
html {
  height: 100%;
  overflow-y: scroll;
}
body {
  background-color: #f2f2f2;
  color: #333333;
  font-family: Source Sans Pro, Helvetica Neue, sans-serif;
  font-size: 15px;
  font-weight: 300;
  height: 100%;
  line-height: 22px;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
p {
  color: #333333;
}
h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  color: #262626;
  font-family: Source Sans Pro, Helvetica Neue, sans-serif;
  margin: 0;
}
h1,
.h1 {
  font-size: 52.5px;
  line-height: 1.2em;
  margin: 0;
}
h2,
.h2 {
  font-size: 30px;
  font-weight: normal;
  line-height: 1.5em;
}
h3,
.h3 {
  font-size: 30px;
  font-weight: bold;
  line-height: 1.2em;
}
h4,
.h4 {
  font-size: 22.5px;
  font-weight: 300;
  line-height: 1.2em;
}
h5 {
  font-size: 18.75px;
  font-weight: normal;
  line-height: 1.2em;
}
h6 {
  font-size: 15px;
  font-weight: bold;
  line-height: 1.2em;
}
.big-input {
  background: none repeat scroll 0 0 #ffffff;
  border: 1px solid #dddddd;
  box-shadow: none;
  font: 16px/1 Source Sans Pro, Helvetica Neue, sans-serif;
  line-height: 19px;
  padding: 14px;
  width: 100%;
}
.big-input:focus {
  border-color: #7a94b8;
  outline: medium none;
}
ol,
ul {
  list-style: none outside none;
}
input::-webkit-input-placeholder {
  color: #aaaaaa;
}
input:-moz-placeholder {
  color: #aaaaaa;
}
input:-ms-input-placeholder {
  color: #aaaaaa;
}
input.grayed {
  color: #aaaaaa;
}
input,
textarea {
  background: none repeat scroll 0 0 #ffffff;
  border: 1px solid #dddddd;
  box-shadow: none;
  font-family: Source Sans Pro, Helvetica Neue, sans-serif;
  height: 20px;
  padding: 5px;
}
input:focus,
textarea:focus,
input:hover,
textarea:hover {
  border-color: #e2e2e2;
  outline: medium none;
}
label {
  color: #666666;
  display: inline-block;
  font-size: 15px;
}
label.clickable {
  color: #7a94b8;
  cursor: pointer;
}
a {
  cursor: pointer;
  text-decoration: none;
}
a.clickable {
  color: #7a94b8;
  text-decoration: none;
}
a.clickable:hover {
  color: #364963;
}
.float-left {
  float: left;
}
.float-right {
  float: right;
}
iframe[name='google_conversion_frame'] {
  bottom: 0;
  position: fixed;
}
.clickable {
  cursor: pointer;
}
.white-background {
  background: #ffffff;
}
