
@font-face {
    font-family: 'Scrive Source Sans Pro';
    font-style: normal;
    font-weight: 200;
    src: local('Source Sans Pro ExtraLight'), local('SourceSansPro-ExtraLight'), url(https://fonts.gstatic.com/s/sourcesanspro/v9/toadOcfmlt9b38dHJxOBGMa9awK0IKUjIWABZIchFI8.woff) format('woff');
}

/* Spacer */
#scrive_spacer { top: 0 !important;position: fixed !important; right: 0 !important; z-index: 1999999999 !important;
    color: #333333;
    font-family: Scrive Source Sans Pro,Helvetica Neue,sans-serif;
    font-size: 15px;
    line-height: 22px;
    padding: 19px 22px;
    visibility: hidden;

    height: auto;
}

#scrive_spacer iframe.scrive_cover {
    position: absolute;
    border: none;
    top: 0;
    left: 0;
    z-index: -1;
}

/* Scrive Popup */
#scrive_popup { min-width: auto; position: relative; bottom: 0; right: 0 !important; z-index: 1999999999 !important; height: auto; width: 100%;
    padding: 4px 4px;
    background-color: #ffffff;
    box-shadow: 1px 3px 4px 0px rgba(0, 0, 0, 0.35);
    box-sizing: border-box;
}

#scrive_popup .scrive_modal-border {
    background-color: #efefef;
}

#scrive_popup .scrive_modal-header.scrive_no-icon {
    height: auto;
    text-align: center;
    background: none repeat scroll 0 0 #53b688;
    border-bottom: 1px solid #dee4ed;
    color: #ffffff;
    padding: 25px 20px;
}

#scrive_popup .scrive_modal-header.scrive_no-icon .scrive_modal-options {
    color: #eeeeee;
    cursor: pointer;
    display: block;
    float: left;
    height: 12px;
    left: 15px;
    position: absolute;
    /*top: 20px;*/
    top: 0px;
    width: 12px;
    text-decoration: none;
}

#scrive_popup .scrive_modal-header.scrive_no-icon .scrive_modal-options:hover {
    color: #ffffff;
}


#scrive_popup .scrive_modal-title {
    display: block;
    font-family: Scrive Source Sans Pro,Helvetica Neue,sans-serif;
    line-height: 25px;
    color:#ffffff;
    padding-top: 0;

    font-size: 35.961px;
    transform: scaleX(1.0015);
}

#scrive_popup .scrive_modal-close {
    cursor: pointer;
    display: block;
    float: right;
    height: 12px;
    position: absolute;
    right: 15px;
    top: 14px;
    width: 12px;
    text-decoration: none;
    color: #99cccc;
    font-size: 28px;
}

#scrive_popup .scrive_modal-close:hover {
    background-position: -12px 0;
    color: #ffffff;
}

#scrive_popup .scrive_modal-body .scrive_modal-content .scrive_body {
    padding: 20px 35px;

    font-family: 'Scrive Source Sans Pro';
    font-size: 15.603px;
    font-weight: 400;
    letter-spacing: -0.234px;
    text-align: left;
    transform: scaleX(1.0015);
}

/*boxises are set on scrive.com to border-box*/
#scrive_popup .scrive_modal-footer {
    box-sizing: content-box !important;
    -webkit-box-sizing: content-box !important;
    height: 20px;
    text-align: center;

    border-top: 1px solid #dee4ed;
    margin-left: 35px;
    margin-right: 35px;
    padding: 35px 0;

    width: 430px;
}

#scrive_popup .scrive_modal-footer .scrive_button {
    margin-top: -11px;
}

#scrive_popup .scrive_button {
    background-clip: padding-box;
    background-color: #323b45;
    border-radius: 1px;
    color: #ffffff !important;
    cursor: pointer;
    display: inline-block;
    font-family: Scrive Source Sans Pro,Helvetica Neue,sans-serif;
    font-size: 15px;
    font-weight: 400;
    line-height: 16px;
    margin: 0;
    max-height: 16px;
    min-width: 50px;
    padding: 13px 20px;
    position: relative;
    text-align: center;
    text-decoration: none;
}

#scrive_popup .scrive_button-green {
    background-color: #53b688;
}

#scrive_popup .scrive_button-green:hover {
    background-color: #49a979;
}

#scrive_popup .scrive_button-green:active {
    background-color: #53b688;
}

#scrive_popup .scrive_button-green.is-waiting {
    background-color: #49a979;
    cursor: wait;
}
#scrive_popup .scrive_button-green.is-waiting:hover {
    background-color: #49a979;
}

#scrive_popup .scrive_button-green.is-waiting:active {
    background-color: #49a979;
}

#scrive_popup .scrive_button-green.is-inactive {
    background-color: #eaeaea;
    border-color: transparent !important;
    color: #999999 !important;
    cursor: default;
}

#scrive_popup .scrive_button-green.is-inactive:hover {
    background-color: #eaeaea;
}

#scrive_popup .scrive_button-green.is-inactive:active {
    background-color: #eaeaea;
}

#scrive_popup .scrive_button-gray {
    /*background-color: #e6e6e6;*/
    /*color: #262626 !important;*/

    background-color: #d1d1d1;
    color: #ffffff !important;
}

#scrive_popup .scrive_button-gray:hover {
    background-color: #d9d9d9;
}

#scrive_popup .scrive_button-gray:active {
    background-color: #e6e6e6;
}

#scrive_popup .scrive_modal-footer .scrive_left {
    float: left;
}

#scrive_popup .scrive_modal-footer .scrive_right {
    float: right;
}

#scrive_popup .scrive_modal-footer .scrive_float-left {
    box-sizing: content-box !important;
    -webkit-box-sizing: content-box !important;
    float: left;

    height: 44px;
    font-family: 'Scrive Source Sans Pro';
    font-size: 15.603px;
    font-weight: 400;
    letter-spacing: -0.234px;
    transform: scaleX(1.0015);
}

#scrive_popup .scrive_modal-footer .scrive_float-right {
    box-sizing: content-box !important;
    -webkit-box-sizing: content-box !important;
    float: right;

    height: 44px;
    font-family: 'Scrive Source Sans Pro';
    font-size: 15.603px;
    font-weight: 400;
    letter-spacing: -0.234px;
    transform: scaleX(1.0015);
}

#scrive_popup .scrive_direct-upload {
  margin-left: 10px;
}
