/*body, html {*/
  /*width: 450px;*/
  /*height: inherit;*/
  /*overflow: hidden;*/
/*}*/

/* Spacer */
#scr_spacer { height: auto !important; top: 0 !important;position: fixed !important; right: 0 !important; width: auto !important; z-index: 100000 !important;

    color: #333333;
    font-family: Source Sans Pro,Helvetica Neue,sans-serif;
    font-size: 15px;
    font-weight: 300;
    line-height: 22px;
    background-color: #f2f2f2;
}

#scr_spacer iframe.cover {
    position: absolute;
    border: none;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: -1;
}
/* Scrive Popup */
#scr_popup { min-width: auto; position: relative; bottom: 0; right: 0 !important; z-index: 100000 !important; height: 36px; width: 100%;

}

#scr_popup .modal-header.no-icon {
    height: auto;
    text-align: center;
    background: none repeat scroll 0 0 #53b688;
    border-bottom: 1px solid #dee4ed;
    color: #ffffff;
    padding: 25px 20px;
}

#scr_popup .modal-header.no-icon .modal-options {
    color: #eeeeee;
    cursor: pointer;
    display: block;
    float: left;
    height: 12px;
    left: 15px;
    position: absolute;
    /*top: 20px;*/
    top: 0px;
    width: 12px;
    text-decoration: none;
}

#scr_popup .modal-header.no-icon .modal-options:hover {
    color: #ffffff;
}


#scr_popup .modal-title {
    display: block;
    font-family: Source Sans Pro,Helvetica Neue,sans-serif;
    font-size: 28px;
    line-height: 25px;
    padding-top: 0;
}

#scr_popup .modal-close {
    background: url("http://users.volja.net/sprejweb/scrive/img/sprite-green-X.png") no-repeat scroll 0 0 transparent;
    cursor: pointer;
    display: block;
    float: right;
    height: 12px;
    position: absolute;
    right: 15px;
    top: 20px;
    width: 12px;
    text-decoration: none;
}

#scr_popup .grey .modal-close {
    background: url("http://users.volja.net/sprejweb/scrive/img/sprite-grey-X.png") no-repeat scroll 0 0 transparent;
}

#scr_popup .modal-close:hover {
    background-position: -12px 0;
}

#scr_popup .modal-body .modal-content .body {
    padding: 20px 35px;
}

#scr_popup .modal-footer {
    height: 20px;
    width: 380px;
    text-align: center;

    border-top: 1px solid #dee4ed;
    margin-left: 35px;
    margin-right: 35px;
    padding: 35px 0;
}

#scr_popup .modal-footer .button {
    margin-top: -11px;
}

#scr_popup .button {
    background-clip: padding-box;
    background-color: #323b45;
    border-radius: 1px;
    color: #ffffff !important;
    cursor: pointer;
    display: inline-block;
    font-family: Source Sans Pro,Helvetica Neue,sans-serif;
    font-size: 15px;
    font-weight: 400;
    line-height: 16px;
    margin: 0;
    max-height: 16px;
    min-width: 50px;
    padding: 13px 20px;
    position: relative;
    text-align: center;
    text-decoration: none;
    transition: all 0.15s ease-in-out 0s;
}

#scr_popup .button-green {
    background-color: #53b688;
}

#scr_popup .button-green:hover {
    background-color: #49a979;
}

#scr_popup .button-green:active {
    background-color: #53b688;
}

#scr_popup .button-green.is-waiting {
    background-color: #49a979;
    cursor: wait;
}
#scr_popup .button-green.is-waiting:hover {
    background-color: #49a979;
}

#scr_popup .button-green.is-waiting:active {
    background-color: #49a979;
}

#scr_popup .button-green.is-inactive {
    background-color: #eaeaea;
    border-color: transparent !important;
    color: #999999 !important;
    cursor: default;
}

#scr_popup .button-green.is-inactive:hover {
    background-color: #eaeaea;
}

#scr_popup .button-green.is-inactive:active {
    background-color: #eaeaea;
}

#scr_popup .button-gray {
    background-color: #e6e6e6;
    color: #262626 !important;
}

#scr_popup .button-gray:hover {
    background-color: #d9d9d9;
}

#scr_popup .button-gray:active {
    background-color: #e6e6e6;
}

#scr_popup .modal-footer .left {
    float: left;
}

#scr_popup .modal-footer .right {
    float: right;
}

#scr_popup .modal-footer .float-left {
    float: left;
}

#scr_popup .modal-footer .float-right {
    float: right;
}

#scr_popup .direct-upload {
  margin-left: 10px;
}
